@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--tile-1: #f3cf30;
	--tile-2: #f58c31;
	--tile-3: #ec452b;
	--tile-4: #e62851;
	--tile-5: #eb1fc9;
	--tile-6: #e515f8;
	--tile-7: #9d0aff;
	--tile-8: #3b19ff;
	--tile-9: #142bff;
	--tile-10: #1178ff;
	--tile-11: #07d3e1;
	--tile-12: #11f054;
	--tile-13: #08f114;
	--tile-14: #0afc16;
}

* {
	user-select: none;
}
